* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}
html,
body {
    height: 100%;
    width: 100%;
}
body{
  background-color: #fff;
  padding: 0px 30px;
}

.navbar{
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 30px;
  margin-bottom: 30px;
}
.navbar button{
  font-size: 20px;
  font-weight: 500px;
  border: none;
  outline: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 40px;
}

.navbar #btn1{
  background-color: #222;
  color: #fff;
}

.navbar #btn2{
  background-color: grey;
  color: #333;
}

.hero{
  display: flex;
  gap: 20px;
  height: 550px;
  padding: 10px;
}

.leftcontent{
  width: 450px;
  display: flex;
  flex-direction: column;
  /* padding-right: 10px; */
}

.leftcontent h1{
  font-size: 60px;
  font-weight: 600;
  list-style: 2px;
  margin-bottom: 40px;
}

.leftcontent p{
  font-size: 20px;
  color: grey;
  padding-right: 30px;
}

.lefticon {
  margin-top: auto;
  font-size: 50px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

.rightcontent{
  /* padding: 10px; */
  width: 900px ;
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}

.rightcontent::-webkit-scrollbar{
    display: none;
}

.rightcard{
  min-width: 270px;
  background: #222;
  color: #fff;
  min-height: 500px;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
}

.right::-webkit-scrollbar{
    display: none;
}

.rightcard p{
  color: #e4dfdf;
  font: 18px bold;
  margin-top: auto;
}

.rightcard h1{
  font-size: 35px;
}

.viewbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px 20px;
  border-radius: 25px;
  background: linear-gradient(135deg, #667eea, #764ba2);
  color: #fff;
  border: none;
  font-size: large;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
  margin-top: auto;
}

.viewbtn:hover {
  transform: translateY(-3px);
}

.arrow {
  font-size: 20px;
}

/* .rightcard button{
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: bold;
  background: blue;
  border: none;
  outline: none;
  color: #fff;
  font: 23px bold;
  bottom: 0px;
} */
